*{
margin: 0;
padding: 0;
box-sizing: border-box;
}   
.inisialPage{
height: 800px;
width: 1500px;
    background-image: url('./tiles/soil.jpg');
    background-repeat:repeat;
    /* background-size:0%; */
    /* display: flex; */
    flex-direction: row;
    align-items: center;
    justify-content:center;
    display: none;

}
.landPage{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;

}

.name{
    width: 500px;
    align-items: center;
    justify-content:center;
}

.start{
    align-items: center;
    justify-content:center;   
}

.container{
    /* display: flex;
    position: relative; */
    /* flex-direction: column; */

}
.rightSide{
    /* border:3px #333 solid; */
    width:300px ;
    position: absolute;
    left: 1500px;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    gap: 50px;
    background-color: #333;


}

.soil{
    background-image: url('./tiles/soil.jpg');
}

.grass{
        background-image: url('/tiles/grass.png');  
}

.sky{
    background-color:lightblue;  
}

.cloud{
    background-image: url('./tiles/cloud.png');  
}

/* .rock{
    background-image: url('./tiles/rock.png');  
} */

.rock{
    background-image: url('./tiles/rock.png');  
}

.trunk{
    background-image: url('./tiles/wood.png');  
}

.leaves{
    background-image: url('./tiles/tree-leaves.png');  
}


.cube{
    width:50px;
    height: 50px; 
    /* border:3px #333 solid; */
    background-repeat: no-repeat;
    background-size: cover;

}

.matrix{

    width:1000px;
    /* height: 950px;  */
    /* border:3px #333 solid; */
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    /* display: none; */

}


.axe{
  width: 70px;
  height: 70px;  
  /* background: url('./tools/Iron_Axe_JE5_BE2.png') no-repeat  10% 10% transparent; */
  background: url('./tools/Iron_Axe_JE5_BE2.png');
  color: #000000;
  cursor: pointer;
  /* background-position: contain; */
  background-repeat: no-repeat;
  background-size: cover;

}

.pickAxe{
    width: 70px;
    height: 70px;  
    background-image: url('./tools/Golden_Pickaxe_JE4_BE3.png');
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
}

.shoval{
    width: 70px;
    height: 70px;  
    background: url('./tools/Stone_Shovel_JE2_BE2.png');
    color: #000000; 
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
}

.storage{
    width: 70px;
    height: 70px;  
    border: 3px #333 solid;
    background-color: #fff;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
}